*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  background-color: cornflowerblue;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box-password{
  padding: 30px 15px;
  background-color: white;
  color: cornflowerblue;
  text-align: center;
  
  
}

.box-password h1{
  padding: 20px;
  
}

.new-password{
  border: 8px solid cornflowerblue;
  width: 70%;
  padding: 15px;
  margin: 0 auto;
}

#pass{
  color: red;
  padding: 10px;
}

button{
  background-color: cornflowerblue;
  color: white;
  padding:10px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

button:hover{
  background-color: rgb(39, 109, 240);
}